.cell {
    width: 25px;
    height: 25px;
    background-color: lightblue;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
}

.isWall {
    background-color: darkcyan;
}

.isStart {
    background-color: pink;
}

.isEnd {
    background-color: chocolate;
}
