.cell {
    width: 25px;
    height: 25px;
    background-color: lightblue;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
}

.isWall {
    background-color: gray;
}

.isStart {
    background-color: darkgreen !important;
}

.isEnd {
    background-color: darkgoldenrod !important;
}

.isVisited {
    animation-name: isVisitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes isVisitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 50, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(20, 110, 230, 0.75);
    }

    75% {
        transform: scale(1.2);
        background-color: rgba(0, 200, 150, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(16, 161, 144, 0.75);
    }
}

@keyframes isShortestWayAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(77, 7, 110, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(10, 44, 69, 0.75);
    }

    75% {
        transform: scale(1.2);
        background-color: rgba(55, 39, 107, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(110, 7, 7, 0.95);
    }
}

.isShortestWay {
    animation-name: isShortestWayAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
